<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h2>Bem-vindo ao ReservaTI</h2>
      <p>Faça login para acessar os chamados e equipamentos.</p>
    </div>

    <form class="login-form">
      <div class="input-group">
        <label for="email">E-mail Corporativo</label>
        <input type="email" id="email" placeholder="seu.nome@empresa.com" autocomplete="off">
      </div>

      <div class="input-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" placeholder="••••••••">
      </div>

      <div class="acoes-extras">
        <label class="lembrar-me">
          <input type="checkbox"> Lembrar de mim
        </label>
        <a href="#" class="esqueci-senha">Esqueci minha senha</a>
      </div>

      <button type="button" class="btn-entrar" (click)="navegarParaHomeFuncionario()">Entrar no Sistema</button>
    </form>

    <div class="login-footer">
      <p>Ainda não tem acesso? <a routerLink="/cadastro">Solicite aqui</a></p>
    </div>
  </div>
</div>
